@media (width <= 600px) {
    html {
        font-size: 12px;
    }

    header div:first-child {
        padding-left: 0em;
    }

    .down-header {
        justify-content: center;
    }

    .down-header ul {
        gap: 0;
        padding-right: 20px;
        flex-direction: column;
    }

    .desc h1 {
        font-size: 20px;
        text-align: center;
        padding-top: 70px;
    }

    .desc p {
        font-size: 15px;
        text-align: center;
    }

    .container {
        flex-direction: column;
        gap: 1em;
        padding: 20px 0px;
    }

    .container-coaches {
        flex-direction: column;
        padding: 20px 0px;
    }

    .upper-header {
        display: flex;
        height: 55px;
        align-items: center;
        justify-content: space-around;
    }

    header .upper-header :last-child ul {
        padding-right: 0em;
    }

    .upper-header div:first-child ul li {
        text-decoration: none;
        color: white;
    }

    .banner {
        background-position: center;
        background-position: -120px;
    }
}
